.spots-container {
  border: red solid 5px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

.spot {
  border: green solid 2px;
  aspect-ratio: 1 / 1;
}

.image {
  aspect-ratio: 1 / 1;
}
.image:hover {
  cursor: pointer;
}

.fa-star {
  /* color: yellow; */
  /* border: black solid 1px; */
}
