.profile-dropdown {
  position: absolute;
  right: 10px;
  top: 90px;
  background-color: #183d3dd9;
  border: black solid 1px;
  padding: 5px;
  z-index: 1000;
}

.hidden {
  display: none;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  /* padding: 10px; */
  margin-bottom: 20px;
  border-bottom: black solid 1px;
  width: 100vw;
  background-color: #183d3d;
}

.spot-link-nav {
  display: grid;
  align-content: center;
}
.new-spot-link {
  color: white;
  text-decoration: none;
}

.navlink {
  color: black;
}

.profile-button {
  display: flex;
  gap: 15px;
  justify-self: right;
  align-items: center;
  padding-right: 10px;
  /* border: red solid 5px; */
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  /* border: red solid 5px; */
}

.logo-img {
  height: 40px;
  padding-right: 10px;
}

.logo-name {
  color: white;
}

.logout-bttn {
  background-color: white;
  color: clack;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
  margin-top: 8px;
}
